.raffle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    animation: fade-in 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    &--selected-entry-wrapper {
        height: 12rem;

        position: relative;
        perspective: 50rem;
    }
    &--selected-entry {
        display: block;
        font-size: 7.2rem;
        font-weight: bold;
        font-family: var(--font-name--heading);
        text-align: center;
        user-select: none;

        &--enter {
            opacity: 0;
            transform: translateZ(50rem) rotateX(-10deg) rotateY(180deg);
            transition: 1.2s 0.3s cubic-bezier(0.8, 0, 0.15, 1);
            transition-property: opacity, transform;

            &-active {
                transform: translateZ(0);
                opacity: 1;
            }
        }
        &--exit {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            opacity: 1;
            transition: opacity 0.3s ease-out;

            &-active {
                opacity: 0;
            }
        }
    }
    &--button {
        width: 8.4rem;
        height: 8.4rem;
        padding: 2rem;

        background: white;
        border-radius: 50%;
        border: none;
        outline: none;

        font-size: 3.2rem;
        text-transform: uppercase;
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &::before {
            content: '';
            display: block;

            width: 4rem;
            height: 4rem;

            background: url(../../../assets/images/pizza--0.png) no-repeat center / contain;

            transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        &:hover {
            transform: scale(1.2);

            &::before {
                transform: scale(1.25);
            }
        }
        &--shaking {
            animation: shake 0.3s linear;
        }

        &--1-bite::before {
            background-image: url(../../../assets/images/pizza--1.png);
        }
        &--2-bites::before {
            background-image: url(../../../assets/images/pizza--2.png);
        }
        &--3-bites::before {
            background-image: url(../../../assets/images/pizza--3.png);
        }
        &--4-bites::before {
            background-image: url(../../../assets/images/pizza--4.png);
        }
        &--5-bites::before {
            background-image: url(../../../assets/images/pizza--5.png);
        }
        &--6-bites::before {
            background-image: url(../../../assets/images/pizza--6.png);
        }
        &--7-bites::before {
            background-image: url(../../../assets/images/pizza--7.png);
        }
        &--8-bites::before {
            background-image: url(../../../assets/images/pizza--8.png);
        }
        &--9-bites::before {
            background-image: url(../../../assets/images/pizza--9.png);
        }
        &--10-bites::before {
            background-image: url(../../../assets/images/pizza--10.png);
        }
        &--11-bites::before {
            background-image: url(../../../assets/images/pizza--11.png);
        }
        &--12-bites::before {
            background-image: url(../../../assets/images/pizza--12.png);
        }
        &--13-bites::before {
            background-image: url(../../../assets/images/pizza--13.png);
        }
        &--14-bites::before {
            background-image: url(../../../assets/images/pizza--14.png);
        }
        &--15-bites::before {
            background-image: url(../../../assets/images/pizza--15.png);
        }
        &--16-bites::before {
            background-image: url(../../../assets/images/pizza--16.png);
        }
    }
}

@keyframes shake {
    0% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(1.2) translateX(-2%);
    }
    40% {
        transform: scale(1.2) translateX(2%);
    }
    60% {
        transform: scale(1.2) translateX(-2%);
    }
    80% {
        transform: scale(1.2) translateX(2%);
    }
    100% {
        transform: scale(1.2) translateX(-2%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    top {
        opacity: 1;
    }
}
